@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&family=Indie+Flower&family=Kanit&family=Lato:wght@400;700&family=Montserrat&family=Roboto&display=swap');

.header {
    font-family: 'Lato';
    text-align: center;
}

.up {
    height: 45vh;
    background-image: url('../assets/images/bridge.jpg');
    background-size: cover;
    background-position-y: -300px;
    background-repeat: no-repeat;
}

.down {
    height: 60vh;
    background-color: #1a181b;
    position: relative;
    z-index: -1;
}

.down h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-family: 'Indie Flower';
}

.down h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
}

.propic {
    position: relative;
}

.propic  img { 
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition: all .5s;
}

.propic img:hover, .propic .hover span:hover ~ img {
    filter: blur(8px);
}

.propic .hover {
    border: 10px solid #fcfcfc;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.propic .hover > * {
    transition: all .5s;
}

.propic .hover a {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
}

.propic .hover:hover a {
    opacity: 1;
    z-index: 100;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    top: 50%;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .down {
        height: 80vh;
    }
    .down h2 {
        top: 70%;
    }

    .up {
        background-position-y: 0px;
    }
}