#cv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    color: white;
    height: 70vh;
}

h2 {
    text-align: center;
}

#bio p {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em;
    text-align: justify;
}

@media(max-width: 1000px) {
    #cv {
        display: inline-block;
    }
    p {
        width: 100%;
    }
}